<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mentor</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mentor: ${mentors}">
        <td th:text="${mentor.getFirstName()}"></td>
        <td th:text="${mentor.getLastName()}"></td>
        <td th:text="${mentor.age}"></td>
        <td th:text="${mentor.gender}"></td>
    </tr>
    <tr>
        <td th:text="${mentors.get(1).getFirstName()}"></td>
        <td th:text="${mentors.get(1).getLastName()}"></td>
        <td th:text="${mentors.get(1).getAge()}"></td>
        <td th:text="${mentors.get(1).getGender()}"></td>
    </tr>
    <tr>
        <td th:text="${mentors.get(2).getFirstName()}"></td>
        <td th:text="${mentors.get(2).getLastName()}"></td>
        <td th:text="${mentors.get(2).getAge()}"></td>
        <td th:text="${mentors.get(2).getGender()}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>