<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>STUDENT</title>
</head>

<body>

<h2 th:text="${name}"></h2>
<h2 th:text="${course}"></h2>
<h3 th:text="${subject}"></h3>
<h6 th:text="${id}"></h6>
<h1 th:text="${number}"></h1>
<h4 th:text="${number.get(0)}"></h4>
<h4 th:text="${number.get(1)}"></h4>
<h4 th:text="${number.get(2)}"></h4>
<h4 th:text="${number.get(3)}"></h4>

<h1 th:text="${student.getFirstName()}"></h1>
<h1 th:text="${student.firstName}"></h1>
<h1 th:text="${student.getLastName()}"></h1>
<h1 th:text="${student.getId()}"></h1>











</body>
</html>